<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div  style="text-align: center">
        <img src="static/assets/img/model_MLP.png" height="600" width="400" />
    </div>
    <img src="static/assets/img/bar.jpg" height="700" width="1500"/>
    <img src="static/assets/img/donate_rate.jpg" height="700" width="1500"/>
    <img src="static/assets/img/heatmap.jpg" height="700" width="1600" />
    <img src="static/assets/img/result.jpg" height="700" width="1500"/>
    <img src="static/assets/img/上牌时间与售价箱型图.png" height="700" width="1500"/>
    <img src="static/assets/img/使用性质与售价散点图.png" height="700" width="1500"/>
    <img src="static/assets/img/原价与售价回归图.png" height="700" width="1500"/>
    <img src="static/assets/img/排量与售价箱型图.png" height="700" width="1500"/>
    <img src="static/assets/img/过户次数分布图.png" height="700" width="1500"/>
</body>
</html>